.container {
  align-items: center;
  color: #393231;
  background-color: #aec4c7;
  box-sizing: border-box;
  display: flex;
  font-family: "Arsenal", sans-serif;
  justify-content: center;
  padding: 50px 12px;
  text-align: center;
  width: 100%;
}

.image {
  background-image: url("../../assets/images/amajac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  height: 50vh;
  margin: 0 auto 0;
  width: 40%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
}

.label {
  max-width: 500px;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 8px 0;
}

.label a {
  color: #907627;
}

.title {
  color: #3e524e;
  font-family: "Marck Script", cursive;
  font-size: 50px;
  font-weight: 800;
  margin: 0 0 8px 0;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .image {
    height: 60vh;
    margin: 0;
    width: 100%;
  }

  .label {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .image {
    height: 40vh;
  }
}
