.container {
  align-items: center;
  color: #3e524e;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: "Arsenal", sans-serif;
  justify-content: center;
  padding: 50px 12px;
  text-align: center;
  width: 100%;
}

.container li {
    list-style: none;
    margin: 0 auto;
}